- if (!everyauth.loggedIn)
  h2 Not Authenticated
  #register
    a(href='/register') Register
  #password-login
    a(href='/login', style='border: 0px') Login with Password
  #github-login(style='float: left; margin-left: 5px')
    a(href='/auth/github', style='border: 0px')
      img(style='border: 0px', src='http://github.com/intridea/authbuttons/raw/master/png/github_64.png')
- else
  h2 Authenticated
  #user-id Logged in with `user.id` #{user.id} - aka `everyauth.user.id` #{everyauth.user.id}
  - if (everyauth.github)
    h3 GitHub User Data
    p= JSON.stringify(everyauth.github.user)
  h3
    a(href='/logout') Logout