@import './mixin'

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

button[type=submit] {
    margin-left: 400px;
}

ol, ul {
    list-style: none;
    top: 10px;
    right: 12px;
    position: absolute;

}

.status {
    position: relative;
    position: relative;
    min-height: 51px;
    padding: 9px 12px 9px;
    border-bottom: 1px solid #E8E8E8;
}         

.actions li {
    display: inline;
}
