!!!
html
  head
    title= title
    link(rel='stylesheet', href='/application.css', type='text/css', charset='utf-8')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(src='/application.js')
    script()
      var jQuery  = require("jqueryify");
      var exports = this;
      jQuery(function(){
        var App = require("index");
        exports.app = new App({el: $("body")});      
      });
body
  #views
    #posts
      h1 掲示板

      form
        div
          input(type='text', name='user_name')
        div
          textarea(name='content')
        div
          input(type='submit')

      #items
